@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

*, body {
    padding: 0%;
    margin: 0%;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    font-weight: 600;
    text-decoration: none;
}

.black-box {
    background-color: #282A35;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-evenly;
}

.green-box {
    background-color: #D9EEE1;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-evenly;
}
.yellow-box {
    background-color: #FFF4A3;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-evenly;
}

.left-box {
    padding: 3%;
    width: 590px;
    text-align: center;
    top: 22px;
}

.right-box {
    width: 595px;
    padding: 3%;
    height: fit-content;
}

.inner-right-box {
    display: flex;
    flex-direction: column;
    height: 390px;
    padding: 16px;
    background-color: #e7e9eb;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.inner-right-box h3{
    font-size: 26px;
    
}
.code-html{
    background-color: #fff;
    font-weight: 100;
    padding: 8px 12px;
    word-wrap: break-word;
    font-family: Consolas,Menlo,"courier new",monospace;
    margin-top: 16px;
    margin-bottom: 16px;
}
.green-border{
    border-left: 4px solid #04AA6D;
}

.text-of-left-box {
    color: white;
    text-align: center;
}

.buttons-of-black-box a {
    padding: 8px 16px;
}

.left-box-buttons a {
    display: block;
    width: 168px;
    margin: auto;
    text-align: center;
    border-radius: 25px;
    font-size: 18px;
    text-decoration: none;

}
.tryit-button {
    display: inline-block;
    text-decoration: none;
    padding: 8px 16px;
    width: 200px;
    text-align: center;
    font-size: 18px;
    border-radius: 25px;
}




#learn-html {
    background-color: #04AA6D;
    color: white;
}
#learn-css {
    background-color: #04AA6D;
    color: white;
}
#learn-html:hover{
    background-color: #059862;
}
#learn-css:hover{
    background-color: #059862;
}
#video-tuto {
    background-color: #FFF4A3;
    color: black;
}
#video-tuto:hover {
    background-color: #fff080;

}
#html-refer{
    background-color: white;
    color: black;
}
#html-refer:hover{
    background-color: #E7E9EB;
}
#css-refer{
    background-color: #282A35;
    color: white;
}
#css-refer:hover{
    background-color: #000;
}